extend layout
block content
  .ui.raised.very.padded.text.container.segment
    h2.ui.header
     | Powerwall
     i.lightning.icon
    p
    | Powerwall is a home battery that charges using electricity generated from solar panels, or when utility rates are low, and powers your home in the evening. Automated, compact and simple to install, Powerwall enables you to maximize self-consumption of solar power generation.
  .ui.raised.very.padded.text.container.segment
    h2.ui.header 
     | Autopilot 
     i.child.icon
    p
    | Tesla's commitment to developing and refining the technologies to enable self-driving capability is a core part of our mission. In October of last year we started equipping Model S with hardware to allow for the incremental introduction of self-driving technology: a forward radar, a forward-looking camera, 12 long-range ultrasonic sensors positioned to sense 16 feet around the car in every direction at all speeds, and a high-precision digitally-controlled electric assist braking system.

 
