extend layout
block content
  
block sidebar	
 .ui.center.aligned.container
   .ui.people.shape
      .sides
        .active.side
          .ui.card
            .image
              img(src="/images/blue.png", width= "100%", height= "100%")
            .content
             .header Brandon James
             .meta
               a Full Stack Developer
               .row
                .fluid.ui.disabled.circular.github.icon.button
                  i.class.github.icon 
                  |  View Github
               .extra.content
                span.right.floated
                   .ui.linkedin.button
                    i.class.linkedin.icon
                    |   LinkedIn
                span 
                  .ui.twitter.button 
                    i.class.twitter.icon 
                    |   Twitter

    
