extend layout
block content
 .ui.raised.very.padded.text.container.segment
   a.ui.teal.label
    | Featured
   h2.ui.header 
    | Radical Acceptance
   .ui.link.items
   .item
     i.book.icon
     .content
       .header Summary
       .description
         p 
   .item
     i.privacy.icon
     .content
       .header Lessons
       .description
        p
   .item
     i.settings.icon
     .content
       .header Actions
       .description
         p
   
  .ui.raised.very.padded.text.container.segment
    a.ui.red.label
     | Upcoming
    h2.ui.header
     | Switch
    .ui.link.items
    .item
      i.book.icon
      .content 
       .header Summary
       .description
        p
    .item
      i.privacy.icon
      .content
        .header Lessons
        .description
          p
    .item
      i.settings.icon
      .content 
       .header Actions
       .description
         p

